* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Poppins,sans-serif;
}

.header-wrap {
    background-color: black;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Times New Roman",serif;
    font-size: 5rem;
}

p {
    font-size: 1rem;
}