/* Tổng thể */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2575fc, #88b0f6);
    color: #ffffff;
  }
  
  .home-button {
    position: absolute; /* Định vị nút theo vị trí tuyệt đối */
    top: 20px; /* Cách phía trên 20px */
    left: 20px; /* Cách phía trái 20px */
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #ffa212;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #000; /* Màu nền khi hover */
    color: #ffa212;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* Khung chính */

  .input-container {
    display: flex;
    justify-content: center;
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        max-width: 800px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }

  .todolist-container {
    display: none;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Input và nút */
  #task-input {
    width: calc(100% - 160px);
    padding: 20px;
    font-size: 2rem;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  #task-input::placeholder {
    color: #fff;

  }

  #task-input:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  
  #btn-task-input {
    height: 100%;
    line-height: -10px;
    padding: 20px 40px;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background 0.3s, transform 0.25s;
  }
  
  #btn-task-input:hover {
    background: #f3f4f6;
    transform: scale(1.05);
  }
  
  #btn-task-input:active {
    transform: scale(0.95);
  }
  


  /* Danh sách */
  #todolist {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
  }
  
  #todolist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 15px 20px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
  }
  


  #todolist li:hover {
    transform: scale(1.02);
    background: rgba(255, 255, 255, 0.3);
  }

  #todolist li span {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;

  }
  .btn-delete {
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 80%;
    width: 20%;
  }